<section class="about">
	<div class="about-item">
		<h1>Om</h1>
		BerwaldBoten är en så kallad "chatbot" (bot som i robot) som kan hjälpa till med ínformation om konserter och medverkande mm.
	</div>
	<div class="about-item">
		<h1>Hur funkar den?</h1>
		Genom att trycka på knappen "BÖRJA CHATTA" här över skickas du till Facebook Messenger där du kan påbörja en konversation med BerwaldBoten. 
	</div>
</section>