<header>
	<h1>BerwaldBoten</h1>
	<div class="button-div">
		<a href="http://m.me/Berwbotskij" target="_blank" class="btn-messenger no-select">
			<% include messenger-logo.ejs %>
			Börja chatta
		</a>
	</div>
</header>
