@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font: 1em "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  color: #fff;
  background: #fff; }

header {
  height: 240px;
  padding: 30px 0 50px;
  background: #fff; }
  header h1 {
    font-weight: 300;
    font-size: 3em;
    margin-top: 0;
    color: #de1155;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 330px) {
      header h1 {
        font-size: 2.2em; } }
  header .button-div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0; }

.btn, .btn-messenger {
  text-decoration: none;
  padding: 0 24px;
  height: 58px;
  line-height: 58px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .03em;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: 175ms ease-out; }
  .btn:hover, .btn-messenger:hover, .btn:focus, .btn-messenger:focus {
    background: #fff;
    color: #333;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21); }
  .btn:active, .btn-messenger:active {
    background: #fff;
    color: #333;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.14), 0 1px 0px rgba(0, 0, 0, 0.21); }
  .btn img, .btn-messenger img {
    display: inline-block;
    height: 25px;
    vertical-align: top;
    margin-right: .5rem; }

.btn-messenger {
  color: #0077e5;
  border: 2px solid #0077e5;
  background: #fff;
  font-size: 20px;
  line-height: 20px; }
  .btn-messenger svg {
    height: 30px;
    margin-right: 8px;
    margin-top: 2px; }
  .btn-messenger .messenger-logo-bubble {
    fill: #0077e5;
    transition: 175ms ease-out; }
  .btn-messenger .messenger-logo-lightning {
    fill: #fff;
    transition: 175ms ease-out; }
  .btn-messenger:hover, .btn-messenger:focus, .btn-messenger:active {
    color: #fff;
    background: #0077e5; }
    .btn-messenger:hover .messenger-logo-bubble, .btn-messenger:focus .messenger-logo-bubble, .btn-messenger:active .messenger-logo-bubble {
      fill: #fff; }
    .btn-messenger:hover .messenger-logo-lightning, .btn-messenger:focus .messenger-logo-lightning, .btn-messenger:active .messenger-logo-lightning {
      fill: #0077e5; }

.about {
  min-height: -o-calc(100% - 240px - 55px);
  min-height: -webkit-calc(100% - 240px - 55px);
  min-height: -moz-calc(100% - 240px - 55px);
  min-height: calc(100% - 240px - 55px);
  padding: 20px 5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #F15F79;
  background: linear-gradient(315deg, #de1155, #F15F79); }
  @media screen and (min-width: 420px) {
    .about {
      flex-direction: row; } }
  @media screen and (min-width: 1240px) {
    .about {
      flex-direction: row;
      padding: 20px 15vw; } }
  .about h1 {
    margin-bottom: 5px;
    font-weight: normal; }

.about-item {
  flex: 1;
  margin: 10px 20px; }
  @media screen and (min-width: 420px) {
    .about-item {
      min-width: 41%; } }
  @media screen and (min-width: 768px) {
    .about-item {
      min-width: 280px; } }

footer {
  height: 55px;
  padding: 5px 5px;
  background: rgba(45, 45, 55, 0.97);
  text-align: center;
  font-size: 15px;
  font-weight: 300; }

.mailto {
  color: #de1155;
  transition: 175ms ease-out; }
  .mailto:hover, .mailto:focus {
    color: inherit; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

/*# sourceMappingURL=alt.css.map */
